<!-- Favorite bar -->
<div class="mb-4 mt-6">
  <p class="mb-2">
    <a
      routerLink="favorites"
      class="text-white font-semibold hover:text-blue-400"
      >Favorites</a
    >
  </p>
  <span
    *ngFor="let favorite of favorites"
    class="inline-flex items-center rounded-md px-2 mr-2 py-1 text-blue-400 ring-1 ring-inset ring-blue-500/30 mb-2"
  >
    {{ favorite.name }}
  </span>
  <a
    *ngIf="favorites.length != 0"
    routerLink="favorites"
    class="text-white text-s hover:text-blue-400"
    >...view all</a
  >
  <!-- Display a message when there are no favorite countries -->
  <p *ngIf="favorites.length === 0" class="text-white">
    You have no favorite countries.
  </p>
</div>
<!-- //Favorite bar -->
