<div *ngIf="isLoading; else content">
  <app-loading></app-loading>
</div>

<ng-template #content>
  <div *ngIf="country" class="bg-gray-200 lg:p-4">
    <!-- Header -->
    <div class="flex justify-between items-center">
      <div>
        <h1 class="text-gray text-xl p-4 font-bold">
          {{ country.name }}
        </h1>
        <p class="p-4 text-gray">
          {{ currentTime | timeFormat : "Russia/Moscow" }}
        </p>
      </div>
      <div class="text-gray text-lg p-4">
        <h1>In favorites</h1>
      </div>
    </div>
    <!-- //Header -->

    <!-- Info -->
    <div class="flex flex-col mt-4 lg:flex-row">
      <!-- Column 2 -->
      <div class="lg:flex-grow lg:border-r text-gray-800 border-gray-800 p-4">
        <div class="flex items-center">
          <i class="material-icons icon-large mr-2">groups</i>
          <span class="font-semibold">Population</span>
        </div>
        <p class="text-xl font-bold mt-6">
          {{ country.population | numberFormat }}
        </p>
        <hr class="lg:hidden border-t mt-4 border-gray-600" />
      </div>

      <!-- Column 3 -->
      <div class="lg:flex-grow lg:border-r text-gray-800 border-gray-800 p-4">
        <div class="flex items-center">
          <i class="material-icons icon-large mr-2">sports_soccer</i>
          <span class="font-semibold">FIFA code</span>
        </div>
        <p
          class="text-xl font-bold mt-6"
          *ngIf="country.fifa; else noFifaMessage"
        >
          {{ country.fifa }}
        </p>
        <ng-template #noFifaMessage>
          <p class="text-red-500 mt-6">No FIFA code available</p>
        </ng-template>
        <hr class="lg:hidden border-t mt-4 border-gray-600" />
      </div>

      <!-- Column 4 -->
      <div class="lg:flex-grow lg:border-r text-gray-800 border-gray-800 p-4">
        <div class="flex items-center">
          <i class="material-icons icon-large mr-2">pin_drop</i>
          <span class="font-semibold">Capital</span>
        </div>
        <p class="text-xl font-bold mt-6">{{ country.capital }}</p>
        <hr class="lg:hidden border-t mt-4 border-gray-600" />
      </div>

      <!-- Column 5 -->
      <div class="lg:flex-grow text-gray-800 border-gray-800 p-4">
        <div class="flex items-center">
          <i class="material-icons icon-large mr-2">map</i>
          <span class="font-semibold">Region</span>
        </div>
        <p class="text-xl font-bold mt-6">{{ country.region }}</p>
        <hr class="lg:hidden border-t mt-4 border-gray-600" />
      </div>
    </div>
    <!-- //Info -->

    <p>{{ country.capitalLatLong }}</p>

    <!-- Time Zones -->
    <div class="p-4 mt-6">
      <p class="text-lg">Time Zones:</p>
      <span
        *ngFor="let timeZone of country.timeZones"
        class="inline-flex items-center px-2 mr-2 py-1 text-blue-400 ring-1 ring-inset ring-blue-500/30 mt-2"
      >
        {{ timeZone }}
      </span>
    </div>
    <!-- Time Zones -->

    <!-- Currencies -->
    <div class="p-4 mt-6">
      <p class="text-lg">Currencies:</p>
      <div
        *ngFor="let currency of country.currencies"
        class="inline-flex items-center px-2 mr-2 py-1 text-blue-400 ring-1 ring-inset ring-blue-500/30 mt-2"
      >
        <ul>
          <li>
            <span><strong>Short name:</strong> {{ currency.code }}</span>
          </li>
          <li>
            <span><strong>Name:</strong> {{ currency.name }}</span>
          </li>
          <li>
            <span
              ><strong>Symbol: {{ currency.symbol }}</strong>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Currencies -->

    <div class="p-4 mt-6">
      <p class="text-lg">Languages:</p>
      <div
        *ngFor="let language of country.languages"
        class="inline-flex items-center px-2 mr-2 py-1 text-blue-400 ring-1 ring-inset ring-blue-500/30 mt-2"
      >
        {{ language }}
      </div>
    </div>
    <!-- Languages -->
  </div>
  <!-- Main div -->

  <!-- Back button -->
  <a
    class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 float-right lg:mt-4 w-full lg:w-auto"
    routerLink=""
  >
    <div class="flex items-center justify-center">
      <!-- Center the text -->
      <i class="material-icons mr-2">arrow_back</i>
      Back
    </div>
  </a>
  <!-- //Back button -->

  <!-- simple 404 -->
  <div *ngIf="!country" class="bg-red-200 p-4">
    <h1 class="text-gray text-xl">404 - Country not found</h1>
  </div>
</ng-template>
