<!-- search and filter -->
<div class="flex items-center justify-between mb-6">
  <input type="text" placeholder="Search" class="w-3/4 p-2" />
  <select class="w-1/4 p-2">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>
<!-- //search and filter -->

<!-- country grid -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4"
>
  <div
    class="bg-white-300 lg:hover:scale-105 transition duration-200 pl-2 pr-2 sm:pl-0 sm:pr-0"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Flag_of_the_Basque_Country.svg/2560px-Flag_of_the_Basque_Country.svg.png"
      alt="Image Alt Text"
      class="scale-100"
    />
    <p class="text-xl text-sky-400">South Africa</p>
  </div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
  <div class="bg-gray-300">01</div>
</div>
<!-- //country grid -->

<!-- pagination -->

<!-- //pagination -->
