<app-notifications></app-notifications>
<!-- Todo: Cleanup css -->
<!-- Loading indicator (This should have it's own Component/service)-->
<div
  *ngIf="isLoading; else content"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center"
>
  <div class="lds-ring mb-4">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="text-xl text-white">...Please wait while loading</div>
</div>
<!-- //Loading indicator -->

<ng-template #content>
  <!-- search and filter -->
  <app-search></app-search>

  <!-- Favorite bar -->
  <app-favorite-bar></app-favorite-bar>

  <!-- Country grid -->
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10 mb-6"
  >
    <div
      *ngFor="let country of countryData"
      class="bg-white pl-2 pr-2 sm:pl-0 sm:pr-0 flex flex-col justify-between h-full"
    >
      <!-- Item header -->
      <div class="flex items-center bg-gray-200" *ngIf="isFavorite(country.id)">
        <i class="material-icons text-red-400 pl-2">favorite</i>
        <p
          class="text-xl pb-2 pt-2 pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap max-w-[200px]"
        >
          {{ country.name }}
        </p>
      </div>
      <div
        class="flex items-center bg-gray-200"
        *ngIf="!isFavorite(country.id)"
      >
        <p
          class="text-xl pb-2 pt-2 pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap max-w-[200px]"
        >
          {{ country.name }}
        </p>
      </div>
      <!-- //Item header -->
      <!-- Item body -->
      <div class="bg-gray-900">
        <div class="lg:hover:scale-105 transition duration-300 relative">
          <!-- Country flag -->
          <img
            class="w-full object-cover h-40 grayscale transition-transform duration-300 ease-in-out transform hover:grayscale-0"
            [src]="country.flagUrl"
            alt="Flag of {{ country.name }}"
          />
          <!-- // Country flag -->
          <!-- Coat Of Arms -->
          <img
            class="absolute right-2 bottom-2 h-1/4"
            [src]="country.coatOfArmsUrl"
          />
          <!-- //Coat Of Arms -->
        </div>

        <!-- Buttons -->
        <div class="flex">
          <button
            class="flex-grow bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-none flex items-center justify-center"
          >
            <i class="material-icons pr-2">group</i
            >{{ country.population | numberFormat }}
          </button>
          <!-- Favorite button -->
          <button
            class="flex-grow text-white font-bold py-2 px-4 rounded-none flex items-center justify-center bg-green-400 hover:bg-green-700"
            (click)="saveFavorite(country.id, country.name)"
          >
            <i
              class="material-icons text-{{
                isFavorite(country.id) ? 'red' : 'white'
              }}-400"
            >
              favorite
            </i>
          </button>
          <!-- //Favorite button -->
        </div>
        <!-- //Buttons -->
      </div>
      <!-- Item body -->
    </div>
  </div>
  <!-- //country grid -->
</ng-template>
<!-- //#Content -->
