<!-- search and filter -->
<div class="flex items-center justify-between mb-6">
  <input type="text" placeholder="Search" class="w-3/4 p-2" />
  <select class="w-1/4 p-2">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
  </select>
</div>
<!-- //search and filter -->

<!-- country grid -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-10"
>
  <div
    *ngFor="let country of countryData"
    class="bg-white pl-2 pr-2 sm:pl-0 sm:pr-0 flex flex-col justify-between h-full"
  >
    <p class="text-xl pb-2 pt-2 pl-2">{{ country.name }}</p>
    <div class="lg:hover:scale-105 transition duration-300 bg-stone-700">
      <img
        class="w-full object-cover h-40 grayscale transition-transform duration-300 ease-in-out transform hover:grayscale-0"
        [src]="country.flagUrl"
        alt="Flag of {{ country.name }}"
      />
    </div>
    <div class="flex">
      <button
        class="flex-grow bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-none"
      >
        More info
      </button>
      <button
        class="flex-grow bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-none"
      >
        Favourite
      </button>
    </div>
  </div>
</div>
<!-- //country grid -->

<!-- pagination -->

<!-- //pagination -->
