<div *ngIf="favoriteData.length === 0">
  <p>{{ noFavoritesMessage }}</p>
</div>

<div>
  <h1 class="text-2xl font-bold mb-4 text-white mt-4">Favorites</h1>
  <ul class="bg-white shadow-lg">
    <div *ngFor="let favorite of favoriteData">
      <li class="flex justify-between gap-x-6 py-5 hover:bg-gray-200">
        <a routerLink="favorites">
          <div class="flex min-w-0 gap-x-4 ml-5">
            <img
              class="h-12 w-12 flex-none bg-gray-50"
              [src]="favorite.flagUrl"
              alt="{{ favorite.fifa }}"
            />
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold leading-6 text-gray-900">
                {{ favorite.name }}
                <span class="mt-1 truncate text-xs leading-5 text-gray-500"
                  >- 0 comments</span
                >
              </p>
              <p class="mt-1 truncate text-xs leading-5 text-gray-500">
                {{ favorite.region }}
              </p>
            </div>
          </div>
        </a>
        <div class="sm:flex sm:flex-col sm:items-end mr-5">
          <label class="inline-flex items-center mt-3">
            <input
              type="checkbox"
              class="form-checkbox h-5 w-5 text-gray-60"
              [value]="favorite.id"
            />
            <span class="ml-2 text-gray-700 hidden sm:block"
              >Remove from favorites</span
            >
          </label>
        </div>
      </li>
    </div>
    <button
      class="mt-4 bg-red-400 hover:bg-red-600 text-white font-semibold w-full py-2 flex items-center justify-center"
    >
      <i class="material-icons mr-2">delete</i> Remove
    </button>
  </ul>
  <a
    class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 float-right mt-4"
    routerLink=""
  >
    <div class="flex items-center">
      <i class="material-icons mr-2">arrow_back</i>
      Back
    </div>
  </a>
</div>
